{% extends 'layout.html' %}


{% block content %}

<h2 align="center">เขียนบทความ</h2>

<form action="addForm" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="">ชื่อบทความ</label>
        <input type="text" class="form-control" name="name">
    </div>

    <div class="form-group">
        <label for="">รายละเอียดบทความ</label>
        <input type="text" class="form-control" name="description">
    </div>

    <div class="form-group">
      <input type="submit" value="บันทึกข้อความ"class="btn btn-primary" >
      <input type="reset" value="ยกเลิกข้อความ"class="btn btn-danger" >
    </div>

</form>

{% endblock%}